body{
    background-color: lightgray;

}
.menu{
    height: 10%;
    width: 100%;
}
.menuLeft{
    float:left;
    width:50%;
}
.menuRight{
    float:right;
    width:50%;
}
.game{
    height: 90%;
    width: 100%;
}
.sectionRecourcesAndBanana{
    float: left;
    width: 80%;
}
.sectionResources{
    float: left;
    width: 25%;
}
.sectionBanana{
    float: right;
    width: 75%;
}
.sectionActions{
    float: right;
    width: 20%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.gridAction{
    text-align: center;
}
.imageBanana{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

/*search-bar*/
.monkeySearchBarBackground{
    background-color: white;
    
}
.monkeySearchBarForeground{
    background-color: green;
}